<nav class="navbar navbar-expand-lg navbar-dark bg-gradient-primary">
  <a class="navbar-brand" routerLink="/admin/painel"><i class="fas fa-tasks"></i>PAINEL DE AÇÕES</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse p-2" id="navbarColor01">
    <ul class="navbar-nav mr-auto p-2">

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/admin/painel" href="#">
          <i class="fas fa-home"></i>Painel</a>
      </li>

      <li class="nav-item" (click)="goToCadastro()" style="cursor: pointer" routerLinkActive="active">
        <a class="nav-link">
            <i class="fas fa-users-cog"></i>Cadastro</a>
      </li>
      <li class="nav-item" (click)="goToRelatorio()" style="cursor: pointer" routerLinkActive="active">
        <a class="nav-link">
          <i class="far fa-money-bill-alt"></i>Relatório de Ações</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" style="cursor: pointer">
            <i class="fas fa-chalkboard-teacher"></i>Banco de Práticas</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" (click)="goToInstituicao()">
          <i class="fas fa-school"></i> Instituições</a>
      </li>

    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link">ÁREA CRTE</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="#" (click)="sair()" class="nav-link">SAIR</a>
      </li>
    </ul>
  </div>
